* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  display: block;
}

form {
 position: relative;
 top: 110px;
}

h1 {
 color: #ffffff ;
 margin: 20px 0;
 text-align: center;
 position: relative;
 top: 90px;
 font-size: 65px;
}

hr {
  color: #cfd8dc;
  text-align: center;
}

input {
  display: block;
  margin: 40px auto;
  width: 80%;
  padding-left: 10px;
  height: 50px;
  font-size: 30px;
}

button {
  border: none;
  background-color: transparent;
  color: #455a64;
  font-size: 15px;
  text-decoration: underline #f2f4f4;
}

button:hover {
  color: #455a64;
  font-weight: 800;
  text-decoration: underline #ffc107;
}

.read-button.read {
  color: #f05a28;
  background-color: #f2f4f4;
  text-decoration: none;
  font-weight: 800;
}

.remove-button {
 float: right;
 margin-bottom: 0;
}

.enter-button,
.clear-all-button {
  display: block;
  margin: 30px auto;
  width: 80%;
  height: 50px;
  background-color: #ffc107;
  color: #ffffff;
  font-weight: 800;
  border: none;
  text-decoration: none;
  font-size: 20px;
}

.enter-button:hover,
.clear-all-button:hover {
  text-decoration: none;
  background-color: #ffd773;
  color: #ffffff;
}

.enter-button:disabled,
.clear-button:disabled {
 color: #ffffff ;
 background-color: #CFD8DC ;
}

.ll-logo {
  height: 70px;
  padding: 0;
}

.left-side, .right-side {
  background-color: #455A64;
  width: 50%;
  float: left;
  height: 2000px;
}

.right-side {
  background-color: #CFD8DC;
  overflow: scroll;
  float: right;
}

.website-info {
  background-color: #ffffff;
  color: #455a64;
  font-weight: 800;
  font-size: 25px;
  margin: 10px;
  padding: 5px 10px;
  border: solid 1px #607d8b;
}

.website-info.backgroundColor {
 background-color: #f2f4f4;
}

.website-name {
  margin: 5px;
}

.website-url {
  color: #607d8b;
  font-weight: 400;
  font-size: 15px;
  text-decoration: underline #f2f4f4;
}

.website-url:hover {
  color: #455a64;
  font-weight: 800;
  text-decoration: underline #ffc107;
}

.bookmark-counter {
 color: #FFFFFF ;
 text-align: center;
 font-size: 15px;
 display: inline-block
 overflow: hidden;
}

.parsley-error {
 background-color: #F5C3CC;
}

.parsley-type {
 color: #F21905;
 text-align: center;
 display: inline-block;
}

@media (max-width: 600px) {
 .right-side,
 .left-side {
   height:800px;
   width: 100%;
 }

 h1 {
   font-size: 40px;
 }
 .ll-logo {
   height: 40px;
 }
}
